/*HTML & BODY*/
/*Link fonts*/

html{

}

/* *means ALL. so all ::after, ::before will inherit below*/
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{

    padding-top: 0;
    font-family: Nunito Sans,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #585858;
    background-color: #fff;
    margin: 0;
}

/*HEADER

.header {}

.header__container {}

.header__inner {}

.header__device {}

.header__download {}

.header__social {}

*/

/*NAVBAR*/

.navbar {}

.navbar__container {

    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/*NAVBAR MOBILE*/

.navbar__mobile__header {}

.navbar__mobile__button__collapsed {}

.mobile__button__sr-only {}

.mobile__button__icon-bar {}

.navbar__collapsed {}

.navbar__collapsed.active {}

.navbar__collapsed__close {}

.navbar__collapsed__open {}

.collapsed__open__button {}

/*SECTION*/

.section {}

.section__background__title {}

.section__overlay {}

.title__container {}

.title__row {}

.section__title {}

.section__title__button {}

/*SECTION 2*/

.section2__container{}

.section2__title__row{}

.section2__CTA__row{}

.CTA__one{}

.CTA__one__container{}

.CTA__one__icon{}

.CTA__one__text-center{}

/*SECTION 3*/

.section3__container{}

.section3__image__column{}

.section3__wrapper{}

.section3__row{}

.section3__label__reveal{}

.section3__text__column{}

/*SECTION 4*/

.section4__container{}

.section4__wrapper{}

.section4__row{}

.section4__title__container{}

.text-center{}

.section4__visual{}

/*SECTION 5*/

.section5__container{}

.section5__form__container{}

.section5__row{}

.section5__form{}

.section5__header{}

.text-center{}

/*FORM*/

.form__input__line{}

.form__group{}

.form__control{}

.form__button__primary{}

.form__button__reset{}

/*FOOTER*/

.footer__container{}

.footer__wrapper{}

.footer__row{}

.footer__text{}

.form-group{}

.input-group{}

.input-group-btn{}

.btn btn-default btn-newsletter{} 








